{% extends 'libapp_templates/base.html' %}

{% block body_block %}
    {% if itemlist.count > 0 %}
        <p> You've checked out the below items...</p>
        <table>
        <tr>
            <th>Title</th>
            <th>Published Year</th>
            <th>Type</th>
            <th>Duedate</th>
        </tr>
        {% for item in itemlist %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.pubyr }}</td>
            <td>{{ item.itemtype }}</td>
            <td>{{ item.duedate }}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
         <p> No items checkout yet...</p>
    {% endif %}

{% endblock %}
